@import "../../../styles.scss";

button {
  background-color: $blue !important;
  border: none !important;
  font-size: large;
}

.header {
  width: 100%;
}

.panel {
  display: flex;
  flex-direction: column;
  text-align: center;
}

p {
  text-align: left !important;
  margin-left: 3px;
  margin-top: 1em;
}

.content-area {
  margin-bottom: 0.5em !important;
  margin-top: 0 !important;
}
