@import "../../../styles.scss";

.panel {
  background-color: white;
  color: $teal;
  padding: 1em;
  min-width: 20em;
  border-radius: 8px;
  text-align: left;
  box-shadow: 2px 2px 5px $light-gray;
  margin-bottom: 2em;
  margin-right: 2em;
  margin-left: 2em;
  padding-bottom: 1em;
}

h2 {
  color: $teal;
  font-size: xx-large;
  width: 60%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p {
  color: $blue;
  width: 100%;
  text-align: right;
}

.content-area {
  display: block;
  margin: 1em;
  margin-bottom: 2em;

  img {
    width: 97%;
  }
}

img {
  width: 100%;
  text-align: left;
}
