
    <form [formGroup]="form" (ngSubmit)="track()">
        <div class="content-area">
            <p>Name</p>
            <input formControlName="income_name" type="text" pInputText/>
            <br>
            <p>Date</p>
            <p-calendar formControlName="receipt_date"></p-calendar>
            <br>
            <p>Type of Income</p>
            <p-dropdown [options]="catOptions" optionLabel="category_name" optionValue="category_id" 
            [autoDisplayFirst]=false
            formControlName="category"></p-dropdown>
            <br>
            <p>Amount</p>
            <p-inputNumber formControlName="income_amount" 
            mode="currency" currency="USD" locale="en-US"></p-inputNumber>
            <br>
            <p>Monthly Recurrence</p>
            <p-dropdown [options]="frequencyOptions"
            [autoDisplayFirst]=false
            placeholder="Optional"
            formControlName="reocurring"></p-dropdown>
            <br>
            <button style="margin-top: 2em" class="track" pButton type="submit" label='Track'></button>
        </div>
    </form>
   