<div class="panel">
    <div class="content-area">
        <div class="header">
            <h2>Savings Over Time</h2> 
        </div>

        <div style="position: relative;">
            <div *ngIf="!dataExists" class="center">
                <span>There is no data to display because there are neither logged expenses nor estimated budget expenses for the selected year.</span>
            </div>
            <p-chart [ngStyle]="{'visibility': dataExists ? 'visible' : 'hidden'}" #chart type="line" [data]="chartData" [options]="chartOptions"></p-chart>
          
        </div>
        
        <div class="field grid"> 
            <label for="horizontal" class="col-fixed" style="width:50px" >Year</label>
            <div class="col-fixed" style="width:150px">
                <p-inputNumber [(ngModel)]="yearSel" [useGrouping]="false" [showButtons]="true" 
                [min]="ts.minYear" [max]="ts.maxYear" (onInput)="getNewData()" class="inputfield"
                buttonLayout="horizontal" spinnerMode="horizontal" inputId="horizontal"
                decrementButtonClass="p-button-secondary" incrementButtonClass="p-button-secondary" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus">
                </p-inputNumber>
            </div>
        </div>
    </div>
</div>