<div class="panel" style="width: 100%">
    <div class="content-area">
        <div class="header" style="justify-content: space-between;">
            <h2>Savings Over Time</h2>
            <div style="display: flex; text-align: right; justify-content: space-between; width: 60%">
                <div> 
                    <div style="width: fit-content; text-align: left;">
                        <label>Date Range</label>
                        <p-calendar [(ngModel)]="rangeDates" class="inputfield" (onInput)="getNewData()" (onSelect)="getNewData()" (onBlur)="getNewData()" selectionMode="range" [maxDate]="ts.maxDate" [readonlyInput]="true" inputId="range"></p-calendar>
                    </div>
                </div>
                <div> 
                    <div style="width: fit-content; text-align: left;">
                        <label>Interval</label>
                        <p-selectButton [options]="types" [(ngModel)]="selectedType" (onChange)="getNewData()" optionLabel="name" optionValue="value"></p-selectButton>
                    </div>
                </div>
            </div> 
        </div>

        <div style="position: relative;">
            <div *ngIf="!dataExists" class="centerUn">
                <span>There is no data to display because there are neither logged expenses nor estimated budget expenses for the selected filters.</span>
            </div>
            <p-chart [ngStyle]="{'visibility': dataExists ? 'visible' : 'hidden'}" #chart type="line" [data]="chartData" [options]="chartOptions"></p-chart>
          
        </div>

        <br>
    </div>
</div>