<div class="panel">
    <div class="content-area">
        <div class="header">
            <h2>Savings Over Time</h2> 
        </div>

        <div style="position: relative;">
            <div *ngIf="!dataExists" class="centerUn">
                <span>There is no data to display because there are neither logged expenses nor estimated budget expenses for the selected filters.</span>
            </div>
            <p-chart [ngStyle]="{'visibility': dataExists ? 'visible' : 'hidden'}" #chart type="line" [data]="chartData" [options]="chartOptions"></p-chart>
          
        </div>
        
        <div class="field grid"> 
            <label for="horizontal" class="col-fixed" style="width:120px" >Date Range</label>
            <div class="col-fixed" style="width:250px">
                <p-calendar [(ngModel)]="rangeDates" class="inputfield" (onInput)="getNewData()" (onSelect)="getNewData()" (onBlur)="getNewData()" selectionMode="range" [maxDate]="ts.maxDate" [readonlyInput]="true" inputId="range"></p-calendar>
            </div>
        </div>
        <div class="field grid"> 
            <label for="horizontal" class="col-fixed" style="width:120px" >Interval</label>
            <div class="col-fixed" style="width:450px">
                <p-selectButton [options]="types" [(ngModel)]="selectedType" (onChange)="getNewData()" optionLabel="name" optionValue="value"></p-selectButton>
            </div>
        </div>
    </div>
</div>