<div class="panel">
    <div class="content-area" style="margin-left: 0; ">
        <div class="header">
            <h2>Receipts</h2> 
        </div>
        <div style="display: inline-flex; width: 100%">
            <div #receiptList>
                <div *ngFor="let item of userReceipts" style="display: inline-flex;">
                    <div *ngIf="item == selectedReceipt" class="receipt-list selected" style="position: relative">
                        <p style="font-weight: bolder; font-size: 800; text-align: left;">{{item.receipt.receipt_name}} <img class="edit-button" src="../../../assets/icons/trash.png" style="width:1em; position: absolute; right: 1em; border-radius: 100" (click)="openDeleteReceipt(item)"><img class="edit-button" src="../../../assets/icons/edit-icon.png" style="width:1em; position: absolute; right: 2.5em; border-radius: 100" (click)="openReceiptEditor(item)"></p>
                        <p style="margin-top: -15px">{{rs.getTotal(item) | currency}} <span style="text-align: left; margin-left: 2.5em">{{item.receipt.receipt_date | date:'shortDate'}}</span></p>
                    </div>
                    <div *ngIf="item != selectedReceipt" class="receipt-list" (click)="selectReceipt(item)" style="position: relative">
                        <p style="font-weight: bolder; font-size: 800; text-align: left;">{{item.receipt.receipt_name}} <img class="edit-button" src="../../../assets/icons/trash.png" style="width:1em; position: absolute; right: 1em; border-radius: 100" (click)="openDeleteReceipt(item)"><img class="edit-button" src="../../../assets/icons/edit-icon.png" style="width:1em; position: absolute; right: 2.5em; border-radius: 100" (click)="openReceiptEditor(item)"></p>
                        <p style="margin-top: -15px">{{rs.getTotal(item) | currency}} <span style="text-align: left; margin-left: 2.5em">{{item.receipt.receipt_date | date:'shortDate'}}</span></p>
                    </div>
                </div>
            </div>
            <div class="image-area" style="display: block; text-align: center;">
                <img src="{{imageUpload}}">
                <div *ngIf="imageUpload == noUpload" style="text-align: center;">
                    <p-button (click)="op.toggle($event)">Upload Receipt</p-button>
                </div>
            </div>
        </div>
        <p-overlayPanel [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'" #op [dismissable]="true" [showCloseIcon]="true">
            <ng-template pTemplate>
                <p-fileUpload name="files" [url]="upServ.recUplURL" [multiple]="true" (onProgress)="loading = true"  (onUpload)="onUpload($event)"
                    accept="image/*">
              
                    <ng-template pTemplate="content">
                        <div *ngIf="loading">
                            <p-progressSpinner></p-progressSpinner>
                        </div>
                         <ul *ngIf="receipts.length && !loading">
                            <li *ngFor="let file of receipts">{{file.name}} - {{file.size}} bytes</li>
                         </ul>
              
                     </ng-template>
                </p-fileUpload>
              
            </ng-template>
        </p-overlayPanel> 
        <p-dialog *ngIf="editReceipt" header="Edit: {{selectedReceipt.receipt.receipt_name}}" [(visible)]="editReceipt" [appendTo]="receiptList" style="width:fit-content">
                    <div >
                        <div *ngIf="selectedReceipt" class="upload-verification">
                            <form #f [formGroup]="getReceipt(0)" (ngSubmit)="updateReceipt()">
                                <div class="center">
                                    <p>Receipt Name</p>
                                    <input formControlName="receipt_name" type="text" pInputText/>
                                    <br>
                                    <p>Date</p>
                                    <p-calendar formControlName="receipt_date"></p-calendar>
                                    <br>
                                    <p>Spending Category</p>
                                    <p-dropdown [options]="catOptions" optionLabel="category_name" optionValue="category_id" 
                                    [autoDisplayFirst]=false
                                    formControlName="receipt_category"></p-dropdown>
                                </div>
                                <div formArrayName="products" class="grid" >
                                    <div class="col-6">
                                        <button type="button" (click)="addEmptyProduct(0)" class="p-button-info addButton">+ Add another product</button>
                                    </div>
                                                               
                                    <div class="col-12">
                                        <ng-container *ngFor="let product of getProducts(0).controls; let i=index" >
                                            <div [formGroup]="getProduct(0, i)" class="grid center">
                                                <div *ngIf="i==0" class="col-4 adjust" >
                                                    <p class="adjust">Item Name</p>
                                                </div>
                                                <div *ngIf="i==0" class="col-8">
                                                    <p class="adjust">Cost</p>
                                                </div>
                                                <div class="col-4">
                                                    <input type="text" class="inputfield" formControlName="item_name" placeholder="Name"pInputText/>
                                                </div>
                                                <div class="col-4">
                                                    <p-inputNumber class="product" placeholder="Cost" formControlName="item_amount" 
                                                    mode="currency" [maxFractionDigits]="2" currency="USD" locale="en-US"></p-inputNumber>
                                                </div>
                                                <div class="col-1">
                                                    <button type="button" (click)="removeProduct(0, i)"pButton label="Delete" class="p-button-danger"></button>
                                                </div> 
                                            </div>
                                            
                                        </ng-container>
                                    </div>
                                    <div class="col-12">
                                        <p>Total: {{totals[0] | currency}}</p>
                                    </div>
                                    
                                </div>
                                <button class="track trackAdj" pButton type="submit" label='Update'></button>
                            </form>
                        </div>
                    </div>
              
        </p-dialog>
        <p-dialog header="{{selectedReceipt.receipt.receipt_name}}" [(visible)]="showReceipt" [appendTo]="receiptList" style="width:fit-content">
            <div>
                <div *ngIf="selectedReceipt">
                    <p style="text-align: left;"><span style="font-weight: bolder;">Receipt ID: </span>{{selectedReceipt.receipt_id}}</p>
                    <p style="text-align: left;"><span style="font-weight: bolder;">Date: </span>{{selectedReceipt.receipt.receipt_date | date:'shortDate'}}</p>
                    <p style="text-align: left;"><span style="font-weight: bolder;">Amount: </span>{{rs.getTotal(selectedReceipt) | currency}}</p>
                </div>
            </div>
        </p-dialog>
        <p-dialog header="Delete: {{selectedReceipt.receipt.receipt_name}}" [(visible)]="deleteReceipt" [appendTo]="receiptList" style="width:fit-content">
            <div style="text-align: center;">
                <h3 class="message">Are you sure? <br> You are about to delete:<br><br><span style="color:#4ec5ca; font-size: larger;"> {{selectedReceipt.receipt.receipt_name}}</span><br><br>
                This cannot be undone.</h3>
            
                <button style="margin: 1em; display: inline-flex; text-align: center;" class="track" pButton type="submit" label='Yes, Delete' (click)="confirmDeleteReceipt()"></button>
                <button style="margin: 1em; display: inline-flex; text-align: center;" class="button-secondary"pButton type="submit" label='No, Keep' (click)="denyDeleteReceipt()"></button>
            </div>
        </p-dialog>
        <p-dialog header="Verify Upload Values" [(visible)]="receiptUploaded" [appendTo]="receiptList" style="width:fit-content">
            <p-tabView [(activeIndex)]="inSel">
                <p-tabPanel [disabled]="!inProgress[j]" header="{{j.toString()}}" *ngFor="let receipt of form.controls; let j = index" [selected]="j == inSel">
                    <div >
                        <div *ngIf="receiptUploaded && inProgress[j]" class="upload-verification">
                            <form #f [formGroup]="getReceipt(j)" (ngSubmit)="track(j)">
                                <div class="center">
                                    <p>Receipt Name</p>
                                    <input formControlName="receipt_name" type="text" pInputText/>
                                    <br>
                                    <p>Date</p>
                                    <p-calendar formControlName="receipt_date"></p-calendar>
                                    <br>
                                    <p>Spending Category</p>
                                    <p-dropdown [options]="catOptions" optionLabel="category_name" optionValue="category_id" 
                                    [autoDisplayFirst]=false
                                    formControlName="receipt_category"></p-dropdown>
                                </div>
                                <div formArrayName="products" class="grid" >
                                    <div class="col-6">
                                        <button type="button" (click)="addEmptyProduct(j)" class="p-button-info addButton">+ Add another product</button>
                                    </div>
                                                               
                                    <div class="col-12">
                                        <ng-container *ngFor="let product of getProducts(j).controls; let i=index" >
                                            <div [formGroup]="getProduct(j, i)" class="grid center">
                                                <div *ngIf="i==0" class="col-4 adjust" >
                                                    <p class="adjust">Item Name</p>
                                                </div>
                                                <div *ngIf="i==0" class="col-8">
                                                    <p class="adjust">Cost</p>
                                                </div>
                                                <div class="col-4">
                                                    <input type="text" class="inputfield" formControlName="item_name" placeholder="Name"pInputText/>
                                                </div>
                                                <div class="col-4">
                                                    <p-inputNumber class="product" placeholder="Cost" formControlName="item_amount" 
                                                    mode="currency" [maxFractionDigits]="2" currency="USD" locale="en-US"></p-inputNumber>
                                                </div>
                                                <div class="col-1">
                                                    <button type="button" (click)="removeProduct(j, i)"pButton label="Delete" class="p-button-danger"></button>
                                                </div> 
                                            </div>
                                            
                                        </ng-container>
                                    </div>
                                    <div class="col-12">
                                        <p>Total: {{totals[j] | currency}}</p>
                                    </div>
                                    
                                </div>
                                <button class="track trackAdj" pButton type="submit" label='Track'></button>
                            </form>
                        </div>
                    </div>
                </p-tabPanel>
            </p-tabView>
        </p-dialog> 
        
</div>
