@import "../basic-widget/basic-widget.component.scss";
@import "./../../../styles.scss";


:host::ng-deep .product {
  display: inline-block !important;
}

.receipt-list {
  width: 100%;
  height: 80%;
  color: $blue;
  text-align: left !important;
  padding-left: 1em;
  padding-right: 1em;
  margin-right: 1em;
  border-radius: 10px;

  &:hover {
    background-color: #d3e2eb30;
    cursor: pointer;
  }
}

.selected {
  background-color: #d3e2eb30;
  box-shadow: inset 0 0 20px $shadow;
}

.image-area {
  width: 67%;
  margin-right: 5vw;

  img {
    width: 30% !important;
    margin-bottom: 1vh;
  }
}

.name {
  font-weight: bolder;
  font-size: large;
}

.message {
  color: $blue;
}

.description {
  margin-top: -17px;
  font-size: smaller;
}

.upload-verification {
  p {
    text-align: left !important;
  }
  width: 100%;
}

.edit-button {
  z-index: 10;
  &:hover {
    cursor: pointer;
    transform: scale(1.5) !important;
  }
}

::ng-deep {
  .p-fileupload {
    .p-button {
      display: inline-flex;
      text-align: center;
      width: fit-content;
    }
  }
}

.center
{
  text-align: center;
}

.fit{
  width: fit-content !important;
}

::ng-deep .addButton
{
  width: fit-content !important;
  font-size: 16px !important;
  /*margin-top: 19.2px !important;*/
}

::ng-deep .adjust
{
  height: 20px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}

::ng-deep .trackAdj
{
  margin-top: 2em; 
  display: inline-flex;
}
