<div class="panel">
    <div class="content-area" style="margin-left: 0; ">
        <div class="header">
            <h2>Receipts</h2> 
        </div>
        <div style="display: inline-flex; width: 100%">
            <div class="receipt-list">
                <div *ngFor="let receipt of userReceipts">
                    <div style="display: inline-flex">
                        <div class="descriptions">
                            <p class="name">{{receipt.receipt_name}}</p>
                            <p class="description" style="text-align: left; font-size: smaller">{{receipt.receipt_date}}</p>
                        </div>
                </div>
                </div>
            </div>
            <div class="image-area" style="display: block; text-align: center;">
                <img src="{{imageUpload}}">
                <div *ngIf="imageUpload == noUpload" style="text-align: center;">
                    <p-button (click)="op.toggle($event)">Upload Receipt</p-button>
                </div>
            </div>
        </div>
        <p-overlayPanel [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'" #op [dismissable]="true" [showCloseIcon]="true">
            <ng-template pTemplate>
                <p-fileUpload name="demo[]" url="./upload.php" (onUpload)="onUpload($event)"
                    accept="image/*">
                    <ng-template pTemplate="content">
                         <ul *ngIf="receipts.length">
                            <li *ngFor="let file of receipts">{{file.name}} - {{file.size}} bytes</li>
                         </ul>
                     </ng-template>
                </p-fileUpload>
            </ng-template>
        </p-overlayPanel>
       
        
</div>

