<div class="panel">
        <div class="header">
            <h2>Spending</h2> 
        </div>
        <form [formGroup]="form" (ngSubmit)="track()">
            <div class="content-area">
                <p>Name</p>
                <input formControlName="product_name" type="text" pInputText/>
                <br>
                <p>Date</p>
                <p-calendar formControlName="receipt_date"></p-calendar>
                <br>
                <p>Category</p>
                <p-dropdown [options]="catOptions" optionLabel="category_name" optionValue="category_id" 
                [autoDisplayFirst]=false
                formControlName="category"></p-dropdown>
                <br>
                <p>Cost</p>
                <p-inputNumber formControlName="product_price" 
                mode="currency" currency="USD" locale="en-US"></p-inputNumber>
                <br>
                <button style="margin-top: 2em" class="track" pButton type="submit" label='Track'></button>
            </div>
        </form>
       

</div>