<div class="panel">
        <div class="header">
            <h2>Tracking</h2> 
        </div>
        
        <div class="content-area">
            <p>Name</p>
            <input type="text" pInputText>
            <br>
            <p>Date</p>
            <input type="date" pInputText>
            <br>
            <p>Cost</p>
            <input type="number" step="any" />
            <br>
            <button style="margin-top: 2em" class="track" pButton type="button" label='Track'></button>
        </div>
        
       

</div>