[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
amqp = "==5.0.6"
asgiref = "==3.4.1"
billiard = "==3.6.4.0"
celery = "==5.1.2"
certifi = "==2021.10.8"
charset-normalizer = "==2.0.10"
ci-info = "==0.2.0"
click = "==7.1.2"
click-didyoumean = "==0.3.0"
click-plugins = "==1.1.1"
click-repl = "==0.2.0"
configobj = "==5.0.6"
configparser = "==5.2.0"
cycler = "==0.11.0"
distlib = "==0.3.4"
dj-database-url = "==0.5.0"
django-cors-headers = "==3.10.0"
django-filter = "==21.1"
django-heroku = "==0.3.1"
djangorestframework = "==3.12.4"
etelemetry = "==0.2.2"
filelock = "==3.4.2"
fitz = "==0.0.1.dev2"
fonttools = "==4.28.5"
future = "==0.18.2"
gunicorn = "==20.1.0"
httplib2 = "==0.20.2"
idna = "==3.3"
imageio = "==2.16.0"
imutils = "==0.5.4"
isodate = "==0.6.1"
keras = "==2.8.0"
kiwisolver = "==1.3.2"
kombu = "==5.2.0"
lxml = "==4.7.1"
matplotlib = "==3.5.1"
networkx = "==2.6.3"
nibabel = "==3.2.1"
nipype = "==1.7.0"
numpy = "==1.22.0"
opencv-python-headless = "==4.5.5.62"
pandas = "==1.3.5"
pdf2image = "==1.16.0"
pipenv = "==2022.4.8"
platformdirs = "==2.5.1"
prompt-toolkit = "==3.0.22"
prov = "==2.0.0"
psycopg2 = "==2.9.1"
psycopg2-binary = "==2.9.3"
pydot = "==1.4.2"
pyparsing = "==3.0.6"
pytesseract = "==0.3.8"
python-dateutil = "==2.8.2"
python-dotenv = "==0.19.2"
pytz = "==2021.1"
rdflib = "==6.1.1"
requests = "==2.27.1"
schedule = "==1.1.0"
scikit-image = "==0.19.2"
scipy = "==1.7.3"
simplejson = "==3.17.6"
six = "==1.16.0"
sqlparse = "==0.4.2"
tifffile = "==2022.2.9"
traits = "==6.3.2"
urllib3 = "==1.26.8"
vine = "==5.0.0"
virtualenv = "==20.14.1"
virtualenv-clone = "==0.5.7"
wcwidth = "==0.2.5"
whitenoise = "==5.3.0"
Cython = "==0.29.26"
Django = "==3.2.7"
Pillow = "==8.4.0"
PyJWT = "==2.3.0"
PyMuPDF = "==1.16.14"
PyWavelets = "==1.2.0"

[dev-packages]

[requires]
python_version = "3.8"
