<div>
        <h1>Congratulations!  You've completed a challenge.</h1>
        <p>Experience Gained: {{this.completedChallenge.rewardPoints}}</p>
        <div *ngIf="!completedChallenge.no_badge">
            <p >Badge Earned: {{this.completedChallenge.name}}</p>
        </div>
        <div class="grid">
            <div class="col-2" style="float: right">
                <span style="font-weight:bold; font-size: 3em;">Level {{oldLevel}}</span>
            </div>
            <div class="col-8">
                <p-progressBar class="progress-bar" [value]="value1"></p-progressBar>
                <p class="subtitle">{{ target1 }} XP / <span style="font-weight:bold">{{ needed1 }} XP</span></p>
            </div>
            <div class="col-2" style="float: left">
                <span style="font-weight:bold; font-size: 3em;">Level {{oldLevel + 1}}</span>
            </div>
            
            
        </div>
        
        <div *ngIf="gainedLevel">
            <p>Wow!  You've earned enough experience to advance to the next level</p>

            <div class="grid">
                <div class="col-2" style="float: right">
                    <span style="font-weight:bold; font-size: 3em;">Level {{curLevel}}</span>
                </div>
                <div class="col-8">
                    <p-progressBar class="progress-bar" [value]="value2"></p-progressBar>
                    <p class="subtitle">{{ target2 }} XP / <span style="font-weight:bold">{{ needed2 }} XP</span></p>
                </div>
                <div class="col-2" style="float: left">
                    <span style="font-weight:bold; font-size: 3em;">Level {{curLevel + 1}}</span>
                </div>
                
                
            </div>
        </div>
        
</div>