@import "../../../styles.scss";

.panel {
  background-color: white;
  color: $teal;
  padding: 1em;
  width: 30vw;
  min-width: 20em;
  max-width: 20em;
  border-radius: 62px;
  text-align: left;
  box-shadow: 3px 3px 10px $light-gray;
}

::ng-deep #new .p-progressbar
{
  background-color: black !important;
}
::ng-deep #init .p-progressbar-value
{
  background-color: #4ec5ca !important;
}
::ng-deep #init .p-progressbar-value
{
  position: absolute;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
::ng-deep .box .p-progressbar
{
  position: absolute;
  width: 100% !important;
  top: 0;
  left: 0;
}
::ng-deep .overlay .p-progressbar
{
  z-index: 9;
  background-color: rgba(0,0,0,0) !important;
}

::ng-deep .overlay .p-progressbar-label
{
  left: 0px;
  color: rgba(0,0,0,0) !important;
  position: absolute !important;
}
::ng-deep #new .p-progressbar-label
{
  margin-right: 700px !important;
}
::ng-deep #new .p-progressbar-label
{
  left: 0px;
  color: rgba(255,255,255,1) !important;
  position: absolute !important;
}
.pointer
{
  position: absolute;
  width: 0.1em;
  height: 15em;
  background-color:#4ec5ca;
  right: 0em;
}

.container{
  position: relative;
}


.content {
  padding: 2em;
}

input {
  color: $blue;
}

.button {
  font-size: larger;
  text-align: center;
  margin: 0.2em;
  margin-right: 1em;
  margin-left: 1em;
  text-align: center;
}

.button-container {
  margin: 1vh;
  text-align: center;
}

h1 {
  text-align: center;
  margin-bottom: 0.75em;
  margin-top: 0.2em;
  font-size: 2.5em;
  color:  $teal;
}

h2 {
  text-align: center;
  margin-bottom: 0.75em;
  margin-top: 0.2em;
  font-size: 1.5em;
  color:  $blue;
}

span.center
{
  width: fit-content;
  text-align: center;
  margin-bottom: 0.75em;
  margin-top: 0.2em;
  font-size: 1.5em;
  color:  $blue;
  font-weight: 700;
}

p.subtitle {
  margin-bottom: 0.25em;
  margin-top: 2em;
  color: $dark-blue;
}
.content-area {
  width: 100%;
  margin-bottom: -10px !important;
}

.descriptions {
  p {
    text-align: left;
    max-width: 10vw;
  }
}
.title {
  font-weight: bolder;
}

.badgeList
{
  overflow-y: auto;
  height: 250px;
}

.badges {
  text-align: left;
  display: inline-flex !important;
  width: 100%;
  align-items: center;
  justify-content: center;
  img {
    width: 3em;
    max-height: 4em;
    margin: 1em;
  }
}

.name {
  font-weight: bolder;
  font-size: large;
}

.description {
  margin-top: -10px;
}
