<div>
        <h1>Congratulations!  You've completed a challenge.</h1>
        <h2><i class="pi pi-plus" style="font-weight: 1000"></i> {{this.completedChallenge.rewardPoints}} Experience Points</h2>
      
           
                <div class="badges" *ngIf="!completedChallenge.no_badge">
                    <span class="center">Badge Earned: </span>
                    <div style="display: inline-flex">
                        <img src="../../../assets/icons/badge-icon.png"/>
                
                        <div class="descriptions">
                            <p class="name">{{this.completedChallenge.badge_name}}</p>
                            <p class="description">{{this.completedChallenge.description}}</p>
                        </div>
                    </div>
                </div>
 
           
            <div *ngIf="gainedLevel">
                <h2 class="feedback" >Wow!  You've earned enough experience to reach Level {{curLevel}}</h2>
            </div>

            <div *ngIf="!gainedLevel">
                <h2 class="feedback" >Keep up the good work!  You only need another {{needed1 - target1}} experience points to reach the next level.</h2>
            </div>
            
            

</div>