@import "../basic-widget/basic-widget.component.scss";
@import "./../../../styles.scss";

h3{
    color: $blue;
    font-size: x-large;
    margin-bottom: 3px;
}

.scroll
{
    overflow-y: auto;
    height: 530px;
}

.item
{
    margin-right: 20px;
}

:host::ng-deep .over > * > *
{
    background-color: rgb(198, 0, 0) !important;
    color: white !important;

}