<div class="panel">
    <div class="content-area">
        <div class="header">
            <h2>Spending By Category</h2> 
        </div>

        <div style="position: relative;">
            <div *ngIf="!dataExists" class="centerUn">
                <span>There is no data to display because there are no logged purchases for the selected month.</span>
            </div>
            <div [style]="{'width': '50%'}">
                 <p-chart [ngStyle]="{'visibility': dataExists ? 'visible' : 'hidden'}" #chart3 type="pie"  [options]="chartOptions" [data]="data"></p-chart>
             </div>
        </div>

        
        <div class="formgroup-inline" style="margin-top: 15px;"> 
           
            <label class="col-fixed" style="width:65px; margin-top: 3px;" 
            for="month" >Month</label>
            <p-calendar id="month" inputId="month" 
            [minDate]="ts.minDate" [maxDate]="ts.maxDate"
            class="inputfield" [(ngModel)]="selDate" view="month" 
            (onSelect)="getNewData()" 
            dateFormat="mm/yy"></p-calendar>
    </div>
    </div>
</div>