@import "../../../styles.scss";

.content-area {
  width: 100%;
  margin-bottom: -10px !important;
}

.descriptions {
  p {
    text-align: left;
    max-width: 10vw;
  }
}
.title {
  font-weight: bolder;
}

.badgeList
{
  overflow-y: auto;
  height: 250px;
}

.badges {
  text-align: left;
  img {
    width: 3em;
    max-height: 4em;
    margin: 1em;
  }
}

.name {
  font-weight: bolder;
  font-size: large;
}

.description {
  margin-top: -10px;
}
