.scrollbox {
  max-height: 50vh;
  overflow-y: auto;
  overflow-x: hidden !important;
  width: 96%;
  padding: 10px 0px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 0;

  .p {
    text-align: left !important;
  }
}

:host::ng-deep p-slider > div
{
  width: 96% !important;
}

:host::ng-deep #chart
{
  width: 100% !important;
  height: auto !important;
}

.catFilter
{
  text-align: center;
  vertical-align: middle;
}

.sliderArea {
  margin-top: 2em;
  margin-left: 1em;
}
