.scrollbox {
  overflow-y: scroll;
  overflow-x: visible !important;
  width: 96%;
  max-height: 45vh;
  

  .p {
    text-align: left !important;
  }
}

:host::ng-deep p-slider > div
{
  width: 96% !important;
}

:host::ng-deep #chart
{
  width: 100% !important;
  height: auto !important;
}

.catFilter
{
  text-align: center;
  vertical-align: middle;
}

.sliderArea {
  margin-top: 2em;
  margin-left: 1em;
}

.button-secondary {
  color: #4ec5ca;
  background-color: #ffffff;
}