.scrollbox {
  max-height: 50vh;
  overflow-y: scroll;
  overflow-x: visible !important;
  width: 96%;
  padding: 10px 0px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 0;

  .p {
    text-align: left !important;
  }
}


.sliderArea {
  margin-top: 2em;
  width: 96%;
}
