<div class="panel">
    <div style="width: 100%">
        <div class="content-area">
            <h2>My Budget</h2> 
        </div>
        
    </div>
    <div class="grid">
        <div class="col-6">
            <div class="grid">
                <div class="col-12">
                    <app-budget-breakdown-chart #chart 
                    [defaultBreakdown]="actualBreakdown"></app-budget-breakdown-chart>
                </div>
                <div class="col-12">
                    <p style="margin-top: 9px; color: #003486; font-size: 1.4em; text-align: center; font-weight: lighter;">Using: <span style="font-weight: bold;">${{configTotal}}/${{maxTotalBudget}}</span></p>
                    <p-progressBar [value]="percenUsed"></p-progressBar>
                </div>
            </div>
            
        </div>
        <div class="col-6">
            <div class="grid">
                <div class="col-12">
                    <div class="field">
                        <label for="cat" style="margin-right: 15px">Selected Categories</label>
                        <p-multiSelect [options]="budgetCategories" class="inputfield" [(ngModel)]="filteredCats"
                        [maxSelectedLabels]="0" [selectedItemsLabel]="'{0} items selected'" 
                        (onChange)="updateCategories()" 
                        placeholder="Select a Value"
                        inputId="cat"
                        optionLabel="categoryTitle"></p-multiSelect>
                    </div>
                </div>
                <div class="col-12">
                    <div  *ngIf="filteredCats.length > 0" class="content-area scrollbox">
                        <div *ngFor="let cat of budgetCategories">
                            <div class="sliderArea" *ngIf="cat.visible">
                                <p style="color: #003486; text-align: left; font-weight: bold;">{{cat.categoryTitle}}: <span style="font-weight: lighter;">${{cat.new_amount}}/${{cat.max}} ({{cat.new_amount/configTotal | percent:'1.0-2'}})</span></p>
                                <p-slider *ngIf="refresh" (onChange)="sliderChange()" (onSlideEnd)="this.updateVisibility();" [(ngModel)]=cat.new_amount [min]="0" [max]=cat.max [animate]="true" [step]="5" ptoolT></p-slider>
                                <p-slider *ngIf="!refresh" (onChange)="sliderChange()" [(ngModel)]=cat.new_amount [min]="0" [max]=cat.max [animate]="true" [step]="5" ptoolT></p-slider>
                            </div>
                            
                        </div>
                       
                    </div>
                    <div *ngIf="filteredCats.length == 0" class="catFilter">
                        <span>Please select at least one category.</span>
                    </div>
                </div>
               
        </div>
    </div> 
           
    <div style="text-align: center;" class="grid" *ngIf="show">
        <div class="col-6">
            <button style="margin-right: 10px; width: 10em;" (click)="reset()">Reset</button>
        </div>
        <div class="col-6">
            <button (click)="applyChanges()"> Apply Changes</button>
        </div>       
    </div>
</div>
    
