$blue: #003486 !default;
$teal: #4ec5ca !default;
$green: #4eca9f !default;
$dark-blue: #090526 !default;
$light-gray: #707070 !default;
$borders: #ebebeb !default;
$shadow: #d3e2eb !default;

body {
  background-image: linear-gradient(125deg, $blue, $teal);
  height: 100vh;
  background-repeat: no-repeat;
  font-family: "Century Gothic Pro", sans-serif !important;
}

button {
  background-color: $teal;
  border-radius: 15px;
  border: 2px solid $teal;
  width: 6em;
  padding-top: 0.5em;
  padding-bottom: 0.35em;
  font-family: "Century Gothic Pro", sans-serif !important;
  color: white;
  cursor: pointer;

  &:hover {
    opacity: 50%;
  }
}

.button-secondary {
  color: $teal;
  background-color: #ffffff;
}

.button-emphasis {
  color: white;
  background-color: $blue;
  border-color: $blue;
}

.link {
  &:hover {
    opacity: 50%;
    cursor: pointer;
  }
}

.clickable {
  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

::ng-deep {
  input {
    border-radius: 10px;
    border-color: $borders;
    border-width: 1px;
    width: 98%;
    padding: 0.2em;
  }

  .p-inputwrapper {
    width: 100% !important;
  }

  .p-calendar {
    width: 100% !important;
  }

  .p-dropdown {
    width: 100% !important;
    text-align: left;
  }

  .p-inputnumber {
    width: 100% !important;
  }

  .p-progressbar .p-progressbar-value {
    background: $green;
    border-radius: 18px;
  }

  .p-progressbar .p-progressbar-label {
    color: $light-gray;
    font-family: "Century Gothic Pro", sans-serif !important;
    font-size: larger;
    text-align: right;
    margin-top: 0.7em;
    padding-right: 1vw;
  }

  .p-progressbar {
    background: white;
    box-shadow: inset 0px 0px 10px $shadow;
    border-radius: 21px;
    height: 3em;
  }

  .p-button {
    background-color: $blue;
    border-radius: 15px;
    border: 2px solid $blue;
    padding-top: 0.5em;
    padding-bottom: 0.35em;
    font-family: "Century Gothic Pro", sans-serif !important;
    color: white;
    cursor: pointer;
  }
  .p-dialog {
    font-family: "Century Gothic Pro", sans-serif !important;
    color: $blue;
    width: 25vw;

    .p-dialog-header {
      color: $teal;
    }

  }
}

.ui-datepicker {
  overflow: visible;
  z-index: 999;
}

input {
  font-family: "Century Gothic", sans-serif;
}

p {
  font-size: larger;
}
