<div *ngIf="currentPanel == 'Advisor' && advisorVisible">
    <app-budget-advisor (pageForward)="pageForward(); "></app-budget-advisor>
</div>
<div *ngIf="currentPanel == 'Income' && advisorVisible" class="panel" style="padding:2em">
    <div>
    <div>
        <div class="header">
            <h1>Income</h1> 
        </div>
        <div *ngFor="let item of income; let i=index">
            <div *ngIf="i<10" style="width: 40%; display: block" class="column">
                <h3>{{item.categoryTitle}}</h3>
                <p-inputNumber placeholder="$0.00" mode="currency" currency="USD" locale="en-US"></p-inputNumber>
            </div>
        </div>
        <div *ngFor="let item of income; let i=index">
            <div *ngIf="i>=10" style="width: 40%; display: block" class="column">
                <h3>{{item.categoryTitle}}</h3>
                <p-inputNumber placeholder="$0.00" mode="currency" currency="USD" locale="en-US"></p-inputNumber>
            </div>
        </div>
        </div>
    </div>
    <button pButton style="margin-left: 2.5em; margin-top: 3em; width: 88%" type="submit" label='Track' (click)="pageForward()"></button>
</div>

<div *ngIf="currentPanel == 'Expenses' && advisorVisible" class="panel panel-expenses" style="padding:2em">
    <div>
    <div>
        <div class="header">
            <h1>Expenses</h1> 
        </div>
        <div *ngFor="let item of expenses; let i=index">
            <div *ngIf="i<10" style="width: 40%; display: block" class="column">
                <h3>{{item.categoryTitle}}</h3>
                <p-inputNumber placeholder="$0.00" mode="currency" currency="USD" locale="en-US"></p-inputNumber>
            </div>
        </div>
        <div *ngFor="let item of expenses; let i=index">
            <div *ngIf="i>=10" style="width: 40%; display: block" class="column">
                <h3>{{item.categoryTitle}}</h3>
                <p-inputNumber placeholder="$0.00" mode="currency" currency="USD" locale="en-US"></p-inputNumber>
            </div>
        </div>
        </div>
    </div>
    <button pButton style="margin-left: 2.5em; margin-top: 3em; width: 88%" type="submit" label='Track' (click)="pageForward()"></button>
</div>


<div *ngIf="currentPanel =='Finalization' " style="top:20vh">
    <app-budget-adjuster [prompts]="prompts" [totalIncome]="totalIncome" [totalExpenses]="totalExpenses" 
    [availableBudget]="availableBudget" [breakdown]="recalculate()"></app-budget-adjuster>
</div>

