@import "../../../../styles.scss";

.panel {
  background-color: white;
  color: $teal;
  padding: 1em;
  width: 50vw;
  min-width: 50em;
  max-width: 70em;
  border-radius: 62px;
  text-align: left;
  box-shadow: 3px 3px 10px $light-gray;
  height: 32vh;
  display: block;
}

.panel-expenses {
  height: 60vh;
}

.content {
  padding: 2em;
}

.column {
  float: left;
  width: 50%;
  margin-left: 3em;
}

.column:after {
  content:"";
  display: table;
  clear: both;
}

input {
  color: $blue;
}

.button {
  font-size: larger;
  text-align: center;
  margin: 0.2em;
  margin-right: 1em;
  margin-left: 1em;
  text-align: center;
}

.button-container {
  text-align: center;
}

h1 {
  text-align: center;
  margin-bottom: 0.75em;
  margin-top: 0.2em;
  font-size: 2em;
  color: $blue;
}

p {
  margin-bottom: 0.25em;
  margin-top: 2em;
}

#slide:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  transition: transform 1s ease-in-out;
  background: teal;
}

#slide.on:before {
  transform: translateX(100%);
}
