@import "../../../../styles.scss";

.panel {
  background-color: white;
  color: $teal;
  width: 50vw;
  min-width: 50vw;
  max-width: 70vw;
  border-radius: 14px;
  text-align: left;
  box-shadow: 3px 3px 10px $light-gray;
  height: 32vh;
  display: flex;
  flex-direction: row;
  height: fit-content !important;
  padding-bottom: 5vh;
  padding-top: 5vh;
  padding-left: 2vw;
  padding-right: 2vw;
}

h1 {
  color: $teal !important;
  margin-bottom: 1vh;
}

.panel2 {
  height: 85vh;
  margin-top: -12vh;
  width: 35vw;
  max-width: 75vw;
  margin-left: -3vw;
}

.panel-expenses {
  height: 60vh;
}

.content {
  padding-top: 5vh;
  padding-bottom: 10vh !important;

}

.column {
  float: left;
  width: 50%;
  margin-left: 3em;
}

.column:after {
  content: "";
  display: table;
  clear: both;
}

input {
  color: $blue;
}

.button {
  font-size: larger;
  text-align: center;
  margin: 0.2em;
  margin-right: 1em;
  margin-left: 1em;
  text-align: center;
}

.button-container {
  text-align: center;
}

h1 {
  text-align: center;
  margin-bottom: 0.75em;
  margin-top: 0.2em;
  font-size: 2em;
  color: $blue;
}

p {
  margin-bottom: 2em;
  margin-top: 0em;
  color: $blue;
  text-align: center;
}

#slide:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  transition: transform 1s ease-in-out;
  background: teal;
}

.scroll {
  overflow-y: auto;
  height: 100%;
  display: block;
}

.subContainer {
  height: fit-content !important;
  display: block;
}

.subContainer2 {
  height: 50vh!important;
  display: block;
}

.container {
  display: block;
  height: fit-content !important;
}


#slide.on:before {
  transform: translateX(100%);
}
