<div *ngIf="load">
    <h1>Understanding Your Budget</h1>
    <br>
    <div>
        <h3>Budget Buddy recommends the {{this.dat.need | percent}}, {{this.dat.want | percent}}, {{this.dat.saving | percent}} rule.</h3>
        <p-chart type="doughnut" [data]="data"  [style]="{'width': '30%'}" [options]="options"></p-chart>
        <br>
        <h3>Click on the categories below to see our recommendations for each.</h3>
        <div class="card-area" style="display: flex; justify-content: center;">
            <div class="card" (click)="setDisplay(needs)">
                <h1>{{this.dat.need | percent}} <br> Needs</h1>
            </div>
            <div class="card" (click)="this.setDisplay(wants)">
                <h1>{{this.dat.want | percent}} <br> Wants</h1>
            </div>
            <div class="card" (click)="this.setDisplay(debt)">
                <h1>{{this.dat.saving | percent}} <br> Savings</h1>
            </div>  
        </div>
    </div>
    <br>
    <div style="display:inline-block; text-align: center; justify-content: center; width: 100%">
    <br>
        <p-button (onClick)="this.nextPage()">Got it!</p-button>
    </div>
    <p-dialog header="{{title}}" [(visible)]="displayNeeds">
        <div>
            <div *ngFor="let item of displayItems" style="display: block; width: 100%; justify-content: left; height: 2vw; margin-bottom: 3vh">
                <div style="display: inline-flex;">
                    <img [src]="item.icon" style="width: 2vw; height: 2vw; margin-right: 2em">
                    <p>{{item.categoryTitle}} <span *ngIf="item.category == 'need' && !this.dat.default" style="font-weight: bold;">{{item.break | percent}}</span> </p>
                    
                </div>
            </div>
        </div>
    </p-dialog>
</div>
