<div class="panel">
    <div class="content-area">
        <div class="header">
            <h2 *ngIf='title'>{{ title }}</h2> 
            <p *ngIf="subtitle" >{{ subtitle }}</p>
        </div>
        <!--<img *ngIf="image" src={{image}}">-->
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <p>Date of Purchase</p>
            <p-calendar formControlName="date"></p-calendar>
            <p>Purchase Type</p>
            <p-dropdown [options]="catOptions" optionLabel="category_name" optionValue="category_id" 
            formControlName="category"></p-dropdown>
            <p>Cost</p>
            <p-inputNumber formControlName="cost" mode="currency" currency="USD" locale="en-US">
            </p-inputNumber>
            <br>
        </form>
    </div>
</div>