<div class="app-content" style="background-color: white; border-color:white; margin: 0; position: absolute; top: 0px; left: 0px; height: 105%; width: 100%">
  <div><app-menu class="scroll-lock" (notify)='onNotify($event)'></app-menu></div>
  <div class="placeholder"></div>
  <p-menu #menu [popup]="true" [model]="settings"></p-menu>
  <div class="widget-area">
    <div class="title-bar">
      <h1 style="text-align: left; ">{{ currentPage }} 
        <button  style="position: absolute; right: 2vw; top: 2.7em;"pButton pRipple pTooltip="Settings" tooltipPosition="bottom" type="button" icon="pi pi-power-off" class="p-button-rounded p-button-outlined"></button>
        <button  style="position: absolute; right: 5.5vw; top: 2.7em;"pButton pRipple pTooltip="Logout" tooltipPosition="bottom" type="button" icon="pi pi-cog" class="p-button-rounded p-button-outlined"(onClick)="cleanLogout()" ></button>
    </h1>
    <p-menu #menu [popup]="true" [model]="settings"></p-menu>
    </div>
    <div *ngIf='hidden === false'>
      <app-small-widget style="position: absolute; backdrop-filter: blur; top: 30vh; left: 45vw;"[title]=" 'Track Spending' " [image]=" '../../assets/prototype-images/spending-log.png' " (click)="toggleHidden()"></app-small-widget>
    </div>
    

    <div *ngIf="currentPage === 'Dashboard'" class="widget-container" style="width: 73vw;"> 
        <div class="large-widgets">
          <app-weekly-spending></app-weekly-spending>
        <div *ngFor="let widget of dashboardWidgets" class="large-widgets">
          <app-basic-widget *ngIf="widget.size==='large'" [title]=widget.title [image]=widget.image></app-basic-widget>
        </div>
      </div>
      <div class="small-widgets">
        <app-weekly-spending-small></app-weekly-spending-small>
        <div *ngFor="let widget of dashboardWidgets" class="small-widgets">
          <app-small-widget *ngIf="widget.size==='small'" [title]=widget.title [image]=widget.image></app-small-widget>
        </div>
      </div>
    </div>
    <div *ngIf="currentPage === 'Budget'" class="widget-container" style="width: 73vw;"> 
      <div class="large-widgets">
        <div *ngFor="let widget of budgetWidgets" class="large-widgets">
          <app-basic-widget *ngIf="widget.size==='large'" [title]=widget.title [image]=widget.image></app-basic-widget>
        </div>
      </div>
      <div class="small-widgets">
        <div *ngFor="let widget of budgetWidgets" class="small-widgets">
          <app-small-widget *ngIf="widget.size==='small'" (click)="toggleHidden()" [title]=widget.title [image]=widget.image></app-small-widget>
        </div>
      </div>
    </div>
    <div *ngIf="currentPage === 'Tracking'" class="widget-container" style="width: 73vw;"> 
      <div class="small-widgets">
        <app-tracking></app-tracking>
        <app-income-tracking></app-income-tracking>
        <div *ngFor="let widget of trackingWidgets" class="small-widgets">
          <app-small-widget *ngIf="widget.size==='small'" [title]=widget.title [image]=widget.image></app-small-widget>
        </div>
      </div>
      <div class="large-widgets">
        <div class="large-widgets">
         <app-receipt-tracking></app-receipt-tracking>
         <app-weekly-spending></app-weekly-spending>
        </div>
        <div *ngFor="let widget of trackingWidgets" class="large-widgets">
          <app-basic-widget *ngIf="widget.size==='large'" [title]=widget.title [image]=widget.image></app-basic-widget>
        </div>
      </div>
    </div>
    <div *ngIf="currentPage === 'Analytics'" class="widget-container" style="width: 73vw;"> 
      <div class="large-widgets">
        <div *ngFor="let widget of analyticsWidgets" class="large-widgets">
          <app-basic-widget *ngIf="widget.size==='large'" [title]=widget.title [image]=widget.image></app-basic-widget>
        </div>
      </div>
      <div class="small-widgets">
        <div *ngFor="let widget of analyticsWidgets" class="small-widgets">
          <app-small-widget *ngIf="widget.size==='small'" [title]=widget.title [image]=widget.image></app-small-widget>
        </div>
      </div>
    </div>
    <div *ngIf="currentPage === 'Rewards' || currentPage === 'Competitions'" class="widget-container" style="width: 73vw;"> 
      <div class="large-widgets">
        <div *ngFor="let widget of rewardsWidgets" class="large-widgets">
          <app-basic-widget *ngIf="widget.size==='large'" [title]=widget.title [image]=widget.image></app-basic-widget>
        </div>
      </div>
      <div class="small-widgets">
        <div *ngFor="let widget of analyticsWidgets" class="small-widgets">
          <app-small-widget *ngIf="widget.size==='small'" [title]=widget.title [image]=widget.image></app-small-widget>
        </div>
      </div>
    </div>
    <div *ngIf="currentPage === 'My Room'" class="widget-container" style="width: 73vw;"> 
      <div class="large-widgets">
        <div *ngFor="let widget of roomWidgets" class="xlarge-widgets">
          <app-basic-widget *ngIf="widget.size==='large'" [title]=widget.title [image]=widget.image></app-basic-widget>
        </div>
      </div>
      <div class="small-widgets">
        <div *ngFor="let widget of roomWidgets" class="small-widgets">
          <app-small-widget *ngIf="widget.size==='small'" [title]=widget.title [image]=widget.image></app-small-widget>
        </div>
      </div>
    </div>
  </div>
 <img class="back-to-top" src="../../assets/prototype-images/back-to-top.png">
  
</div>