<div class="app-content" style="background-color: white; border-color:white; margin: 0; position: absolute; top: 0px; left: 0px; height: 105%; width: 100%">
  <div><app-menu class="scroll-lock" (notify)='onNotify($event)'></app-menu></div>
  <div class="placeholder"></div>
  <p-menu #menu [popup]="true" [model]="settings"></p-menu>
  <div class="widget-area">
    <div class="title-bar">
      <h1 style="text-align: left; ">{{ currentPage }} 
        <button  style="position: absolute; right: 2vw; top: 2.7em;"pButton pRipple pTooltip="Logout" tooltipPosition="bottom" type="button" icon="pi pi-power-off" class="p-button-rounded p-button-outlined" (click)="cleanLogout()" ></button>
        <button  style="position: absolute; right: 5.5vw; top: 2.7em;"pButton pRipple pTooltip="Settings" tooltipPosition="bottom" type="button" icon="pi pi-cog" class="p-button-rounded p-button-outlined" (click)="op.toggle($event)"></button>
    </h1>
    <p-overlayPanel #op>
      <ng-template pTemplate>
          <h2 style="width:100%; text-align: center;" class="setting-item">Account</h2>
          <div>
            <div style="float: left; width: 30%">
              <img style="width: 5em; height: 5em; display: block; text-align: right;" src="../../assets/budget-buddy-avatar.png" alt="Budget Buddy Logo">
            </div>
            <div class="setting-item" style="float: left; width: 60%; margin-left: 1em; display: block" >
              <h3 style="margin-top: .5em">Name:{{name}}</h3>
              <p style="margin-top: -1em">Level:{{level}}</p>
            </div>
          </div>
          <div class="setting-item" style="display: block">
            <h2>Login Information</h2>
            <p style="margin-top: -.75em;">Change username or password</p>
          </div>
          
          <div class="setting-item" style="display: block" (click)="goToNewBudget()">
            <h2>New Budget</h2>
            <p style="margin-top: -.75em;">Reset your budget</p>
         
          </div>
          <div class="setting-item" style="display: block">
            <h2>Privacy</h2>
            <p style="margin-top: -.75em;">Edit your privacy settings</p>
          </div>
          <div class="setting-item" style="display: block">
            <h2>Alerts</h2>
            <p style="margin-top: -.75em;">Manage alert preferences</p>
          </div>
          <div class="setting-item" style="display: block">
            <h2>Friends</h2>
            <p style="margin-top: -.75em;">View your friends list</p>
          </div>
          <div class="setting-item" style="display: block" (click)="showFavorites()">
            <h2>Favorites</h2>
            <p style="margin-top: -.75em;">Set your favorite categories</p>
          </div>
      </ng-template>
  </p-overlayPanel>

  <p-dialog header="Favorites" [(visible)]="favoriteMenu">
    <p-listbox [options]="budgetCategories" [(ngModel)]="selectedCategories"  [listStyle]="{'max-height':'20vh'}" optionLabel="categoryTitle" [multiple]="true"  [filter]="true" [filterPlaceHolder]="'Search'" [checkbox]="true"></p-listbox>
    <button  pButton pRipple  type="button" (click)="setFavorites()" style="display: block; text-align: center; width: 99%; margin-top: 2em" >Submit</button>
</p-dialog>


    <p-menu #menu [popup]="true" [model]="settings"></p-menu>
    </div>
    <div *ngIf='hidden === false'>
      <app-small-widget style="position: absolute; backdrop-filter: blur; top: 30vh; left: 45vw;"[title]=" 'Track Spending' " [image]=" '../../assets/prototype-images/spending-log.png' " (click)="toggleHidden()"></app-small-widget>
    </div>
    

    <div *ngIf="currentPage === 'Dashboard'" class="widget-container" style="width: 73vw;"> 
        <div class="large-widgets">
          <app-weekly-spending></app-weekly-spending>
          <app-savings-over-time></app-savings-over-time>
          <app-spending-vs-income></app-spending-vs-income>

        <div *ngFor="let widget of dashboardWidgets" class="large-widgets">
          <app-basic-widget *ngIf="widget.size==='large'" [title]=widget.title [image]=widget.image></app-basic-widget>
        </div>
      </div>
      <div class="small-widgets">
        <app-letter-grade></app-letter-grade>
        <app-weekly-spending-small></app-weekly-spending-small>
        <app-badges-widget></app-badges-widget>
      </div>
    </div>
    <div *ngIf="currentPage === 'Budget'" class="widget-container" style="width: 73vw;"> 
      <div class="large-widgets">
        <app-budget-vs-spending></app-budget-vs-spending>
        <app-spending-by-category></app-spending-by-category>
        <div *ngFor="let widget of budgetWidgets" class="large-widgets">
          <app-basic-widget *ngIf="widget.size==='large'" [title]=widget.title [image]=widget.image></app-basic-widget>
        </div>
      </div>
      <div class="small-widgets">
        <div *ngFor="let widget of budgetWidgets" class="small-widgets">
          <app-small-widget *ngIf="widget.size==='small'" (click)="toggleHidden()" [title]=widget.title [image]=widget.image></app-small-widget>
        </div>
      </div>
    </div>
    <div *ngIf="currentPage === 'Tracking'" class="widget-container" style="width: 73vw;"> 
      <div class="small-widgets">
        <app-tracking></app-tracking>
        <app-income-tracking></app-income-tracking>
        <app-budget-slider></app-budget-slider>
        <div *ngFor="let widget of trackingWidgets" class="small-widgets">
          <app-small-widget *ngIf="widget.size==='small'" [title]=widget.title [image]=widget.image></app-small-widget>
        </div>
      </div>
      <div class="large-widgets">
        <div class="large-widgets">
         <app-receipt-tracking></app-receipt-tracking>
         <app-weekly-spending></app-weekly-spending>
        </div>
        <div *ngFor="let widget of trackingWidgets" class="large-widgets">
          <app-basic-widget *ngIf="widget.size==='large'" [title]=widget.title [image]=widget.image></app-basic-widget>
        </div>
      </div>
    </div>
    <div *ngIf="currentPage === 'Analytics'" class="widget-container" style="width: 73vw;"> 
      <div class="large-widgets">
        <app-actual-vs-est-income></app-actual-vs-est-income>
        <div *ngFor="let widget of analyticsWidgets" class="large-widgets">
          <app-basic-widget *ngIf="widget.size==='large'" [title]=widget.title [image]=widget.image></app-basic-widget>
        </div>
      </div>
      <div class="small-widgets">
        <div *ngFor="let widget of analyticsWidgets" class="small-widgets">
          <app-small-widget *ngIf="widget.size==='small'" [title]=widget.title [image]=widget.image></app-small-widget>
        </div>
      </div>
    </div>
    <div *ngIf="currentPage === 'Rewards' || currentPage === 'Competitions'" class="widget-container" style="width: 73vw;"> 
      <div class="large-widgets">
        <div *ngFor="let widget of rewardsWidgets" class="large-widgets">
          <app-basic-widget *ngIf="widget.size==='large'" [title]=widget.title [image]=widget.image></app-basic-widget>
        </div>
      </div>
      <div class="small-widgets">
        <div *ngFor="let widget of analyticsWidgets" class="small-widgets">
          <app-small-widget *ngIf="widget.size==='small'" [title]=widget.title [image]=widget.image></app-small-widget>
        </div>
      </div>
    </div>
    <div *ngIf="currentPage === 'My Room'" class="widget-container" style="width: 73vw;"> 
      <div class="large-widgets">
        <div *ngFor="let widget of roomWidgets" class="xlarge-widgets">
          <app-basic-widget *ngIf="widget.size==='large'" [title]=widget.title [image]=widget.image></app-basic-widget>
        </div>
      </div>
      <div class="small-widgets">
        <div *ngFor="let widget of roomWidgets" class="small-widgets">
          <app-small-widget *ngIf="widget.size==='small'" [title]=widget.title [image]=widget.image></app-small-widget>
        </div>
      </div>
    </div>
  </div>
 <img class="back-to-top" src="../../assets/prototype-images/back-to-top.png">
  
</div>