@import "../../../styles.scss";

.app-content {
  display: flex;
}

h1 {
  color: $blue;
  font-size: 6vh;

  img {
    position: absolute;
    right: 1vw;
    top: 5vh;
    height: 3vh;

    &:hover {
      opacity: 50%;
      cursor: pointer;
    }
  }
}

.edit-button {
  margin-right: .5em;
  color: gainsboro;
  font-size: 1em;
  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
}

.setting-item {
  font-family: "Century Gothic Pro", sans-serif !important;
  color: $blue;
  border-radius: 10px;
  margin: 0.1em;
  padding: 0.25em;

  p {
    margin-top: -0.75em;
    color: $blue;
  }

  h2 {
    color: $teal;
  }

  &:hover {
    cursor: pointer;
    background-color: #ebebeb50;
    box-shadow: inset 0 0 10px $shadow;
  }
}

.line {
  height: 0.05em;
  width: 100%;
  background-color: $blue;
}

div {
  display: flex;
}

.widget-area {
  margin-left: 2em;
  margin-right: 2em;
  display: block;
}

.widget-container {
  margin: 0.5em;
  margin-top: 1vh;
  text-align: left;
  display: inline-flex;
  flex-direction: row;
  padding-right: 2em;
}

.large-widgets {
  width: 60vw;
  display: block;
  margin-left: 1vw;
}

.title-bar {
  margin-bottom: 2em;
  height: 7.5vh;

}

.xlarge-widgets {
  width: 75vw;
  display: block;
  padding: 0;

  &img {
    margin: 0;
    padding: 0;
  }
}

.small-widgets {
  display: block;
  width: 15vw;
  margin-left: 1vw;
  margin-right: 1vw;
}

.scroll-lock {
  position: fixed;
}

.placeholder {
  height: 105vh;
  width: 20vw;
  min-width: 300px;
  max-width: 320px;
  padding-right: 2vw;
  padding-left: 1vw;
  padding-top: 10px;
}

.back-to-top {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 1vw;
  bottom: 10vh;

  &:hover {
    opacity: 50%;
    cursor: pointer;
  }
}
