<div class="panel">
    <div class="content">
        <h1>Login</h1>
        <p>Username</p>
        <input type="text" class="field" pInputText />
        <p>Password</p>
        <p-password></p-password>
        <br>
        <div class="button-container">
            <button class="button" pButton type="button" label="Login" (click)="buttonClick()"></button>
            <button class="button button-secondary" pButton type="button" label="Sign Up" ></button>
        </div>
            
       
    </div>
</div>