<div class="panel">
    <div class="content" [formGroup]="form">
        <h1>Login</h1>
        <p>Username</p>
        <input type="text" formControlName="username" class="field" pInputText />
        <p>Password</p>
        <p-password [feedback]="false" formControlName="password"></p-password>
        <br>
        <div class="button-container">
            <button class="button" pButton type="button" label="Login" (click)="login()"></button>
            <button class="button button-secondary" pButton type="button" (click)="register()" label="Sign Up" ></button>
        </div>
            
       
    </div>
</div>