<div class="panel"> 
    <div class="content-area">
        <div class="header">
            <h2>Spending vs. Income</h2> 
            <div class="field grid" style="float: right; right:0"> 
                <label for="horizontal" class="col-fixed" style="font-size: 1.25em; padding-top: .75vh; color: #707070" >Year</label>
                <div class="col-fixed" style="width:8vw">
                    <p-inputNumber [(ngModel)]="yearSel" [useGrouping]="false" [showButtons]="true" 
                    [min]="1900" [max]="2100" (onInput)="getNewData()" class="inputfield"
                    buttonLayout="horizontal" spinnerMode="horizontal" inputId="horizontal"
                    decrementButtonClass="p-button-secondary" incrementButtonClass="p-button-secondary" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus">
                    </p-inputNumber>
                </div>
            </div>
        </div>
        <br>
        <p-chart #chart3 type="bar" [data]="chartData" [options]="chartOptions"></p-chart>
        
    </div>
</div>