<div class="panel">
    <div class="content-area">
        <div class="header">
            <h2>Spending vs. Income</h2> 
        </div>
        <p-chart #chart3 type="bar" [data]="chartData" [options]="chartOptions"></p-chart>
        
        <div class="field grid"> 
            <label for="horizontal" class="col-fixed" style="width:50px" >Year</label>
            <div class="col-fixed" style="width:150px">
                <p-inputNumber [(ngModel)]="yearSel" [useGrouping]="false" [showButtons]="true" 
                [min]="1900" [max]="2100" (onInput)="getNewData()" class="inputfield"
                buttonLayout="horizontal" spinnerMode="horizontal" inputId="horizontal"
                decrementButtonClass="p-button-secondary" incrementButtonClass="p-button-secondary" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus">
                </p-inputNumber>
            </div>
        </div>
    </div>
</div>